/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Colors */

:root {
    --white: #FFF;
    --black: #000;
    --gray-400: #7C8F8F;
    --gray-300: #B7C4C4;
    --green-900: #2B3939;
    --green-400: #5CA5A5;
    --green-350: #63BABA;
    --green-50: #EFFAFA;
}

/* Typography */

[class*='text-preset'] {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

[class$="medium"] {
    font-weight: 500;
}

[class$="bold"] {
    font-weight: 700;
}

.text-preset-1-bold {
    font-size: 1.375rem;
    line-height: 110%;

    @media (width < 1024px) {
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.00938rem;
    }
}

.text-preset-2-bold {
    font-size: 1.125rem;
    line-height: 100%;

    @media (width < 1024px) {
        font-size: 0.875rem;
        letter-spacing: -0.00938rem;
    }
}

.text-preset-2-medium {
    font-size: 1.125rem;
    line-height: 135%;
    letter-spacing: -0.00938rem;

    @media (width < 1024px) {
        font-size: 1rem;
        line-height: 150%;
    }
}

.text-preset-3-bold {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.00938rem;
}

.filters.text-preset-3-bold {
    line-height: 100%;
}

.text-preset-4-bold {
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: -0.00938rem;
}

/* Utilities */

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none !important;
}

/* Main styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green-50);
}

main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.page-header {
    width: 100%;
    height: 156px;
    background-image: url(../images/bg-header-desktop.svg);
    background-color: var(--green-400);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    @media (width < 768px) {
        background-image: url(../images/bg-header-mobile.svg);
    }
}

/* Section filters */

.filters {
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    width: 87.2%;
    max-width: 1109px;
    min-height: 72px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;

    @media (width < 1024px) {
        padding: 20px 24px;
    }

    .filter-list {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        list-style: none;
        color: var(--green-400);

        @media (768px <=width < 1024px) {
            width: 86.17%;
        }

        @media (width < 768px) {
            width: 72.44%;
        }

        li {
            position: relative;
            height: 32px;
            padding: 2px 40px 0 8px;
            display: flex;
            align-items: center;
            background-color: var(--green-50);
            border-radius: 4px;
            overflow: hidden;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    cursor: pointer;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
                background-color: var(--green-400);
                background-image: url(../images/icon-remove.svg);
                background-size: 13px;
                background-position: center;
                background-repeat: no-repeat;
                transition: background-color 0.3s ease-in-out;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover::after {
                    background-color: var(--green-900);
                }
            }
        }
    }

    .clear-btn {
        height: 24px;
        display: flex;
        align-items: center;
        padding-top: 2px;
        border: none;
        color: var(--gray-400);
        background-color: transparent;
        transition: color 0.3s ease-in-out;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                cursor: pointer;
                color: var(--green-400);
            }
        }
    }
}

/* Section jobs */

.jobs {
    margin-top: 76px;
    width: 87.2%;
    max-width: 1109px;

    .jobs-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        /* margin-top: 40px; */

        .job-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 32px 41px 32px 45px;
            background-color: var(--white);
            border-radius: 5px;
            box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);

            .wrapper {
                display: flex;
                gap: 24px;

                .job-card-logo {
                    width: 88px;
                    height: 88px;
                }

                .job-card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;

                    .job-card-eyebrow {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .job-card-company {
                            color: var(--green-400)
                        }

                        .job-card-status {
                            display: flex;
                            gap: 8px;
                            list-style-type: none;
                            text-transform: uppercase;

                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 3px;
                                color: var(--white);
                                border-radius: 20px;
                            }

                            .new {
                                width: 51px;
                                height: 26px;
                                background-color: var(--green-400);
                            }

                            .featured {
                                width: 78px;
                                height: 26px;
                                background-color: var(--green-900);
                            }
                        }
                    }

                    .job-card-title {
                        a {
                            text-decoration: none;
                        }
                    }

                    .job-card-meta {
                        display: flex;
                    }
                }
            }

            .job-card-tags {
                display: flex;
            }
        }
    }
}